// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
  display: flex;
  display:-webkit-flex;
  display:-ms-flexbox;
  flex-wrap: wrap;
}

body {
  align-items: center;
  justify-content: center;
}
.content {
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

.personal-info-card {
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 29%;
  height: 50%;
  box-shadow: 2px 2px 20px #666;
}

.itemuserlist {
margin-top: 4%;
}
.img {
  margin-top: 5%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40%;
  height: 10%;
}

.button {
  border: 10px solid #1461c5;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 100%;
  background-color: #1461c5;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  margin-bottom: 5%;
}

.font-family {
  font-family: Arial, Helvetica, sans-serif;
}

.font-placing {
  text-align: center;
}

h1 {
  color: #1461c5;
  font-size: 2.46vw;
  }

h3 {
  color: #9392a8;
  font-size: 1.40vw;
}

p {
  color: #9392a8;   
  line-height: 1.5;
  font-size: 1.23vw;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.6vw;
}