%h2
  Estamos en el Yield de Welcome
%h3
  Evaluación de Variable Boolean
- if @ok
  %h3= @its_ok
- else
  %h3= @its_not_ok
- content_for :header do
  %h1 esto se descontrolo
= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpW7RyaDF5H20uLza0LORM-dwn1x7MrPNje39drr9rvh5k_6uPtw', alt: '', height: '', width: '', class: ''

.class
  %h1 esto es un div con class

