.personal-info-card.flex
  =image_tag ("#{@user.imagepath}"), alt: '', height: '', width: '', class: 'img'
  %h1.itemuserlist.name.font-family.font-placing
    = @user.name
  %h3.itemuserlist.occupation.font-family.font-placing
    = @user.occupation
  %p.itemuserlist.info.font-family.font-placing
    = @user.info
  %p.itemuserlist.button.font-family
    = link_to "Volver", users_path, class: 'link'